<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit User</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
            body {font-family: 'Roboto', sans-serif
            }
        </style>
</head>
<body>
        <form action="/users/update/{{user.id}}" method="POST">
            {% csrf_token %} 
            <h2>Edit user</h2>
            <label for="first_name">First name:</label><br>
            <input type="text" name="f_name" value="{{user.first_name}}"><br><br>
            <label for="last_name">Last name:</label><br>
            <input type="text" name="l_name" value="{{user.last_name}}"><br><br>
            <label for="email">Email:</label><br>
            <input type="email" name="new_email" value="{{user.email}}"><br><br>
            <input type="submit" name="update" value="Update" style = "background-color:dodgerblue; color:white; border-color:black">
          
        </form><br>
        <a href="/users/{{user.id}}" style = "color:dodgerblue;">Show</a> | <a href="/users" style = "color:dodgerblue;">Go Back</a>
    
</body>
</html>